transformers
langchain
langchain_chroma
langchain_community
langchain_core
langchain_text_splitters
langchain_openai
whisper
librosa==0.10.2.post1
torch==2.6.0
pydub==0.25.1
gTTS==2.5.4
scipy==1.15.2
git+https://github.com/openai/whisper.git
sounddevice==0.5.1
PyAudio==0.2.11
